{% extends "users/base.html" %}

{% block head_content %}
<title> Platzigram sign in</title>
{% endblock %}

{% block container %} 
 
{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST" action="{% url "login" %}">
    {% csrf_token %}<!---este tag es un validaor de contrasena-->
    
<div class="form-group">
<input type="text" placeholder="Username" name="username" />
</div>

<div class="form-group">
<input type="password" placeholder="Password" name="password"/>
</div>
<button class="btn btn-primary btn-block mt-5" type="submit"> Sig in! </button> 

</form>

{% endblock %}